<div class="card-container">
    <p-card  class="profilepage" 
    [style]="{ width: '360px', height:'270px', border: '2px solid skyblue',borderRadius: '15px' }">
            <div class="form-group">
                <h2>Profile</h2>
            </div>
        <div class="container-fluid" >
            <div class="form-group">
                <div class="flex flex-column gap-2">
                    <label  class="labelfirstname"  htmlFor="firstname" style="margin: 15px; font-size:16px;" >First Name</label>
                    <input  class="inputfirstname"
                    pInputText id="firstname" style="width: 180px; font-size:16px;"
                     [(ngModel)]="firstname"/>
                </div>
                <div class="flex flex-column gap-2">
                    <label  class="labellastname" htmlFor="lastname" style="margin: 15px; font-size:16px;" >Last Name</label>
                    <input class="inputlastname"
                    pInputText id="lastname" style="width: 180px; font-size:16px;" 
                    [(ngModel)]="lastname"/>
                </div>
            </div>
            <div class="form-group">
                <p-button label="Update" styleClass="p-button-rounded" [style]="{'width.px': 80, 
                    'height.px': 30, 
                    'font-size.px': 16}" 
                    (click)="updateUser()"
                    ></p-button>
            </div>  
        </div>
    </p-card>

    <p-card  class="userbooksdetailspage" 
    [style]="{ width: '700px', height:'900px', border: '2px solid skyblue',borderRadius: '15px' }">
            <p-table [value]="books" [tableStyle]="{'min-width': '60rem'}">
                <ng-template pTemplate="caption">
                    <div class="flex align-items-center justify-content-between">
                        <h1>Reserved Books Details</h1>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>
                          <h3>Title</h3>
                        </th>
                        <th>
                          <h3>Image</h3>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-book>
                    <tr>
                        <td>
                          <h4>{{book.title}}</h4>
                        </td>
                        <td>
                          <img [src]="book.url" alt="{{book.title}}" style="height: 200px;">
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger"  (click)="onUnReserve(book.bookId)">Unreserve</button>
                        </td>
                    </tr>
                </ng-template>
              </p-table>
    </p-card>
</div>
